---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import getImage from "../../helpers/getImage";

type Props = CollectionEntry<"work">;

const {
  id,
  data: { coverImage, title, subtitle, date },
} = Astro.props;

const image = getImage(coverImage);
---

<li class="row">
  <a href={`/work/${id}`} class="card col padding-s gap-s">
    <Image src={image()} alt={title} layout="responsive" loading="eager" />

    <div class="flex-1 col gap-s">
      <h3>{title}</h3>
      <p class="font-size-s">{subtitle}</p>
    </div>
  </a>
</li>

<style>
  img {
    z-index: 1;
    aspect-ratio: 4/3;
    border-radius: var(--unit-2xs);
  }

  a {
    text-decoration: none;
    color: var(--on-surface);
  }
</style>
