---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import type { ReferenceDataEntry } from "astro:content";
import getImage from "../../helpers/getImage";

interface Props {
  timeline: string;
  company: ReferenceDataEntry<"meta:company", string>;
  title: string;
  isCurrent?: boolean;
}

const {
  timeline,
  company: { id },
  title,
  isCurrent,
} = Astro.props;

const company = await getEntry("meta:company", id);

if (!company) {
  return null;
}

const logo = getImage(company.data.logo);
---

<div class="card-header row align-end justify-between gap-s">
  <div class="flex-1 col gap-s">
    <span class="font-size-s">
      {timeline}
      {isCurrent && <span class="tag color-primary">Now</span>}
    </span>

    <div class="gap-xs">
      <h3 class="font-size-m font-weight-bold">
        {title}
      </h3>

      <span class="font-size-s">{company.data.name}</span>
    </div>
  </div>

  <Image
    class="icon"
    src={logo()}
    width={80}
    widths={[128, 256]}
    layout="fixed"
    alt={`${company} logo`}
    loading="eager"
  />
</div>

<style>
  .card-header-wrapper {
    z-index: 1;
    position: sticky;
    top: 16px;
  }

  .card-header {
    background-color: var(--background);
    transition: background-color 0.2s var(--bezier);
  }

  .chip-current {
    color: var(--accent);
  }

  img {
    border-radius: var(--unit-2xs);
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--outline);
    outline-offset: 4px;
    transition: all 0.2s var(--bezier);
  }
</style>
