---
import Band from "../Band.astro";
import JobCardHeader from "./JobCardHeader.astro";
import JobCardScope from "./JobCardScope.astro";

const { company, title, description, timeline, scope, isCurrent } = Astro.props;
---

<li class="card col gap-s padding-m">
  <JobCardHeader
    timeline={timeline}
    company={company}
    title={title}
    isCurrent={isCurrent}
  />

  <Band />

  <p class="font-size-s">{description}</p>

  <Band />

  <JobCardScope scope={scope} />
</li>

<style></style>
