---
import Menu from "../components/Menu/Menu.astro";
import Separator from "../components/Separator.astro";
import MainLayout from "../layouts/MainLayout.astro";
import AnimatedLead from "../components/AnimatedLead.astro";
import Footer from "../components/Footer.astro";
import {
  MENU_ABOUT,
  MENU_CONTACT,
  MENU_CV,
  MENU_WORK,
} from "../consts/ui/menu";
import TitleWrapper from "../components/TitleWrapper.astro";
import CardStack from "../components/CardStack";
import { getEntry } from "astro:content";

const about = await getEntry("page:about", "about");

if (!about) {
  throw Error("No data!");
}
---

<MainLayout hasHeader={true}>
  <div class="wrapper">
    <section class="col gap-32">
      <TitleWrapper title={about.data.title} />

      <AnimatedLead addSpaceBetween lines={about.data.lead} />
    </section>

    <Menu options={[MENU_CV]} isList={true} />

    <Separator isDashed />

    {
      about.data.sections.map((s) => (
        <section class="col gap-32">
          <h2>{s.title}</h2>

          {s.lines && <AnimatedLead lines={s.lines} addSpaceBetween />}

          {s.cards && <CardStack client:load cards={s.cards} />}
        </section>
      ))
    }

    <Menu options={[MENU_CONTACT]} isList={true} />

    <Separator />

    <Footer />
  </div>
</MainLayout>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 576px;
    gap: 64px;
  }

  h2 {
    animation: appear 0.33s var(--bezier) 0.2s both;
  }

  .profile-cover {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .profile-cover img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 25%;
  }
</style>
