---
import Menu from "../components/Menu/Menu.astro";
import Separator from "../components/Separator.astro";
import MainLayout from "../layouts/MainLayout.astro";
import JobCardsList from "../components/Jobs/JobCardsList.astro";
import Values from "../components/Values.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import {
  MENU_ABOUT,
  MENU_CONTACT,
  MENU_CV,
  MENU_WORK,
} from "../consts/ui/menu";
import { SCHEMA_PERSON_FULL } from "../consts/schemas";
import TitleWrapper from "../components/TitleWrapper.astro";
import { getEntry } from "astro:content";

const cv = await getEntry("page:cv", "cv");

if (!cv) {
  throw Error("No data found");
}

const person = await getEntry("meta:person", cv.data.person.id);
---

<MainLayout hasHeader schema={SCHEMA_PERSON_FULL}>
  <div class="wrapper">
    <TitleWrapper {...MENU_CV} />

    <section class="col gap-32">
      <h2>{person?.data.name}</h2>
      <Values values={cv.data.brief} />
    </section>

    <section>
      <JobCardsList jobs={cv.data.jobs} />
    </section>

    <Separator isDashed />

    <section class="col gap-48">
      <h2>Skills</h2>
      <Values values={cv.data.skills} />
    </section>

    <Separator isDashed />

    <section class="col gap-48">
      <h2>Education</h2>
      <Values values={cv.data.education} />
    </section>

    <Separator isDashed />

    <section class="col gap-64">
      <h2>Hackathons</h2>

      {
        cv.data.competitions.map((c) => (
          <div class="col gap-32">
            <h3>{c.title}</h3>
            <Values values={c.values} />
          </div>
        ))
      }

      <Separator isDashed />

      <Menu options={[MENU_CONTACT, MENU_WORK, MENU_ABOUT]} isList={true} />

      <Separator />

      <Footer />
    </section>
  </div>

  <style>
    .wrapper {
      width: 100%;
      max-width: 576px;
      display: flex;
      flex-direction: column;
      gap: 64px;
    }

    h2 {
      animation: appear 0.33s var(--bezier) 0.2s both;
    }
  </style>
</MainLayout>
