---
import Launchpad from "../components/Launchpad.astro";
import Footer from "../components/Footer.astro";

import { IRRLMM } from "../consts/meta";

import myImage from "../assets/persons/irrlmm.png";

import { SCHEMA_PERSON_FULL } from "../consts/schemas";
import {
  SVG_CODE,
  SVG_CV,
  SVG_DRIBBBLE,
  SVG_KEY,
  SVG_MAIL,
} from "../consts/svg";
import NewLayout from "../layouts/NewLayout.astro";
import Stack from "../components/Stack";
import { getImage } from "astro:assets";
// import FACTS_JOURNEY from "../consts/stacks/journey";

const imageSrc = await Promise.resolve(
  getImage({
    src: myImage,
    format: "webp",
    quality: 99,
    width: 2566,
  })
);
---

<NewLayout schema={SCHEMA_PERSON_FULL}>
  <!-- <div class="col"> -->

  <Stack client:load src={imageSrc.src} />

  <!-- <section class="col gap-s">
      <h1 class="hidden">{IRRLMM.name}</h1>
      <h2 class="hidden">{IRRLMM.title}</h2>

      <AnimatedParagraph
        client:load
        lines={[`Hello. I'm ${IRRLMM.name.split(" ")[0]}.`, ...IRRLMM.bio]}
      />
    </section> -->

  <!-- <section>
      <IntroStack client:load stack={STACK_INTRO} />
    </section> -->

  <!-- <Belt client:load text="The work is mysterious and important" /> -->

  <!-- <SectionProjects projects={PROJECTS_HIGHLIGHTS} /> -->

  <!-- <Belt client:load text="Available for product design roles" /> -->

  <!-- <section>
      <IntroStack client:load stack={FACTS_JOURNEY} />
    </section> -->

  <Launchpad
    apps={[
      // {
      //   label: "Experience",
      //   widget: {
      //     value: "8 yrs",
      //   },
      // },
      {
        label: "LinkedIn",
        link: { href: IRRLMM.links.linkedin, external: true },
        icon: { text: "in" },
      },
      {
        label: "Dribbble",
        link: { href: IRRLMM.links.dribbble, external: true },
        icon: { path: SVG_DRIBBBLE },
      },
      {
        label: "Behance",
        link: { href: IRRLMM.links.behance, external: true },
        icon: { text: "Be" },
      },
      {
        label: "Github",
        link: { href: IRRLMM.links.github, external: true },
        icon: { path: SVG_CODE },
      },
      {
        label: "CV",
        link: { href: "/docs/Igor Lemeshkin CV.pdf", external: true },
        icon: { path: SVG_CV },
      },
      {
        label: "Contact",
        link: { href: `mailto:${IRRLMM.email}` },
        icon: { path: SVG_MAIL },
      },
      {
        label: "Rogi",
        link: { href: "/undefined" },
        icon: { path: SVG_KEY },
        badge: "???",
      },
    ]}
  />

  <Footer />
  <!-- </div> -->
  <!-- </div> -->
</NewLayout>

<style>
  /* div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--unit-2xl) 0;
      gap: var(--unit-2xl);
    } */

  /* p {
      vertical-align: middle;
    } */

  /* section {
      display: flex;
      width: 100%;
      max-width: calc(var(--unit-m) * 22);
      padding: 0 var(--unit-m);
    } */
</style>
