---
import { IRRLMM } from "../consts/meta";
import getSvgMaskImageServer from "../helpers/getSvgMaskImageServer";
import SvgMaskImage from "./SvgMaskImage";

type Props = {
  items?: { label?: string; value: string; capsule?: string }[];
};

const year = new Date().getFullYear();

const { items } = Astro.props;

const svg = await getSvgMaskImageServer("misc/logo-bordered.svg");
---

<footer class="max-width-m">
  <div class="micrographic">
    <SvgMaskImage
      src={svg.src}
      aspectRatio={svg.aspectRatio}
      style={{ height: "2rem", backgroundColor: "var(--on-surface)" }}
    />

    <div class="items">
      {
        items &&
          items.map((item) => (
            <div class="row overline">
              {item.label && (
                <span class=" text-xs lh-capped color-primary">
                  {item.label}
                </span>
              )}
              <span class="lh-capped">{item.value}</span>
              {item.capsule && (
                <span class="overline lh-capped capsule">{item.capsule}</span>
              )}
            </div>
          ))
      }
    </div>
  </div>

  <p>
    <span id="footer-year">{year}</span> ©
    {IRRLMM.name}
  </p>
</footer>

<style>
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }

  .micrographic {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: flex-start;
    gap: 2rem;
  }

  .logo-wrapper {
    display: inline-flex;
    padding: 0.25rem;
    border-radius: 0.125rem;
    box-shadow: inset 0 0 0 var(--line) var(--on-surface);
  }

  svg {
    width: 3rem;
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    letter-spacing: 0.05em;
  }

  .row {
    display: flex;
    position: relative;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .capsule {
    position: absolute;
    width: max-content;
    top: -0.4375rem;
    left: calc(100% + 0.5rem);
    display: inline-flex;
    align-items: center;
    height: 1.5rem;
    border-radius: 0.75rem;
    padding: 0 0.5rem;
    text-transform: none;
    box-shadow: inset 0 0 0 var(--line) var(--primary);
  }

  p {
    margin: 0;
  }
</style>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
