---
import { getEntry } from "astro:content";
import getSvgMaskImageServer from "../helpers/getSvgMaskImageServer";

type Props = {
  org: string;
};

const { org } = Astro.props;
const orgEntry = await getEntry("orgs", org);

if (!orgEntry) {
  throw new Error(`Missing org entry: ${org}`);
}

const imageHeight = 24;
const optimizedOrgImage = await getSvgMaskImageServer(orgEntry.data.img, 24 * 3);
const imageWidth = Math.max(
  1,
  Math.round(optimizedOrgImage.aspectRatio * imageHeight),
);
---

<div class="orgRow row gap-2 align-center">
  <div
    role="img"
    aria-label={orgEntry.data.name}
    class="orgLogo"
    style={`--mask-url:url(${optimizedOrgImage.src});height:${imageHeight}px;width:${imageWidth}px;`}
  />

  <span class="overline text-s">{orgEntry.data.name}</span>
</div>

<style>
  .orgLogo {
    background-color: var(--on-surface);
    -webkit-mask-image: var(--mask-url);
    mask-image: var(--mask-url);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  .orgRow {
    margin-top: 2rem;
  }
</style>
