---
import { getEntry } from "astro:content";
import type { ReferenceDataEntry } from "astro:content";
import { Image } from "astro:assets";
import getImageMetadata from "../helpers/getImageMetadata";
import Eyebrow from "./Eyebrow.astro";
import { undefined } from "astro:schema";

type Props = {
  id: string;
  title: string;
  tag: string;
  readTime?: string;
  org: ReferenceDataEntry<"orgs">;
};

const { id, title, tag, readTime, org } = Astro.props;

const orgData = await getEntry(org);

const tags = [tag];
if (readTime) {
  tags.push(readTime);
}
---

<a href={`/work/${id}`}>
  <li class="col">
    <Image src={getImageMetadata(orgData.data.img)()} alt={orgData.data.name} />

    <h4 class="label">{title}</h4>

    <Eyebrow items={tags} />
  </li>
</a>

<style>
  li {
    display: flex;
    aspect-ratio: 4/3;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--background);
    border-radius: var(--br-ui-list-default);
    transition:
      border-radius 0.2s var(--bezier),
      background-color 0.2s var(--bezier);
  }

  a {
    text-decoration: none;
  }

  a:hover li {
    border-radius: var(--br-ui-list-hover);
  }

  img {
    width: 2rem;
    height: 2rem;
    border-radius: var(--br-square);
  }

  @media (max-width: 40rem) {
    li {
      aspect-ratio: initial;
    }
  }
</style>
