---
import type { CollectionEntry } from "astro:content";
import SectionHeader from "./SectionHeader.astro";
import SectionBlogItem from "./SectionBlogItem.astro";

type Props = {
  title: string;
  link?: string;
  items: CollectionEntry<"blog">[];
};

const { title, link, items } = Astro.props;
---

<div class="ui">
  <SectionHeader title={title} link={link} />

  <ul class="ui-list">
    {
      items.map(({ id, data }) => (
        <SectionBlogItem id={id} title={data.title} date={data.date} />
      ))
    }
  </ul>
</div>

<style>
  div {
    width: 100%;
    max-width: 40rem;
  }

  ul {
    width: 100%;
    max-width: initial;
    display: flex;
    flex-direction: column;
    gap: var(--line);
    padding: var(--line);
    background-color: var(--outline);
    border-radius: var(--br-square);
  }
</style>
