---
import { getCollection } from "astro:content";

import MainLayout from "../../layouts/MainLayout.astro";

// import Launchpad from "../components/Launchpad.astro";
// import IntroStack from "../components/IntroStack";
// import Belt from "../components/Belt";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
// import AnimatedParagraph from "../components/AnimatedParagraph";
// import SectionProjects from "../components/SectionProjects.astro";

// import { IRRLMM } from "../consts/meta";
// import STACK_INTRO from "../consts/stacks/intro";
// import STACK_JOURNEY from "../consts/stacks/journey";
// import PROJECTS_HIGHLIGHTS from "../consts/projects/highlights";

import { SCHEMA_PERSON_FULL } from "../../consts/schemas";
import {
  SVG_CODE,
  SVG_CV,
  SVG_DRIBBBLE,
  SVG_KEY,
  SVG_MAIL,
} from "../../consts/svg";
import AnimatedLinkButton from "../../components/AnimatedLinkButton";
// import FACTS_JOURNEY from "../consts/stacks/journey";

const posts = (await getCollection("work")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

if (!posts) {
  throw Error("no posts!");
}
---

<MainLayout schema={SCHEMA_PERSON_FULL}>
  <div class="col">
    <Header />

    <section>
      <h1>Work [coming soon]</h1>
    </section>

    <!-- {
      posts.map((post) => (
        <a href={`/work/${post.id}`}>
          <h2>{post.data.title}</h2>
          <p>{post.data.intro}</p>
        </a>
      ))
    } -->

    <!-- <section class="col gap-s">
      <h1 class="hidden">{IRRLMM.name}</h1>
      <h2 class="hidden">{IRRLMM.title}</h2>

      <AnimatedParagraph
        client:load
        lines={[`Hello. I'm ${IRRLMM.name.split(" ")[0]}.`, ...IRRLMM.bio]}
      />
    </section>

    <section>
      <IntroStack client:load stack={STACK_INTRO} />
    </section>

    <Belt client:load text="The work is mysterious and important" />

    <SectionProjects projects={PROJECTS_HIGHLIGHTS} />

    <Belt client:load text="Available for product design roles" />

    <section>
      <IntroStack client:load stack={FACTS_JOURNEY} />
    </section>

    <Launchpad
      apps={[
        // {
        //   label: "Experience",
        //   widget: {
        //     value: "8 yrs",
        //   },
        // },
        {
          label: "LinkedIn",
          link: { href: IRRLMM.links.linkedin, external: true },
          icon: { text: "in" },
        },
        {
          label: "Dribbble",
          link: { href: IRRLMM.links.dribbble, external: true },
          icon: { path: SVG_DRIBBBLE },
        },
        {
          label: "Behance",
          link: { href: IRRLMM.links.behance, external: true },
          icon: { text: "Be" },
        },
        {
          label: "Github",
          link: { href: IRRLMM.links.github, external: true },
          icon: { path: SVG_CODE },
        },
        {
          label: "CV",
          link: { href: "/docs/Igor Lemeshkin CV.pdf", external: true },
          icon: { path: SVG_CV },
        },
        {
          label: "Contact",
          link: { href: `mailto:${IRRLMM.email}` },
          icon: { path: SVG_MAIL },
        },
        {
          label: "Rogi",
          link: { href: "/undefined" },
          icon: { path: SVG_KEY },
          badge: "???",
        },
      ]}
    /> -->

    <Footer />
  </div>
</MainLayout>

<style>
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--unit-2xl) 0;
    gap: var(--unit-2xl);
  }

  h1 {
    font-size: var(--unit-l);
    line-height: 1;
    animation: appear 0.15s var(--bezier) 0.2s both;
  }

  section {
    display: flex;
    width: 100%;
    max-width: calc(var(--unit-m) * 22);
    padding: 0 var(--unit-m);
  }
</style>
