---
import Head from "../components/Head.astro";
import type { WithContext, Person, Article, CreativeWork } from "schema-dts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getRootThemeStyle, type Theme } from "../helpers/themeTokens";

interface Props {
  headerText?: string;
  head: {
    title: string;
    description: string;
  };
  footerItems?: { label?: string; value: string; capsule?: string }[];
  theme?: Theme;
  schema?: WithContext<Person | Article | CreativeWork>;
}

const { headerText, schema, head, footerItems, theme } = Astro.props;

const rootStyle = theme ? getRootThemeStyle(theme) : undefined;
---

<html lang="en" style={rootStyle}>
  <head>
    <Head title={head.title} description={head.description} />
    {
      schema && (
        <script type="application/ld+json" set:html={JSON.stringify(schema)} />
      )
    }
  </head>

  <body transition:animate="none">
    <Header text={headerText} showPaletteSwitch={!theme} />

    <main>
      <slot />
    </main>

    <hr />

    <Footer items={footerItems} />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    padding: 8rem 8vw;
  }

  main {
    width: 100%;
    animation: appear 0.4s var(--bezier) both;
    animation-delay: 0.4s;
  }
</style>
